.blog_item_list-container {
    container-type: inline-size;
    container-name: blog_item_list;
}
.blog_item_list
{
    margin-bottom:2rem;
    display:grid;
    grid-template-columns:max(10rem, 13cqi) 1fr;
    gap:2rem;
}
p.blog_item_list-date
{
    font-size:0.9rem;
    padding-bottom:0;
    margin-top:0;
}
.blog_item-tags
{
    padding-top:0.5rem;
    font-size:0.9rem;
}
.blog_item_list-image
{
    width:100%;
    aspect-ratio:1;
    background:var(--blue1);
    font-size:0;
    & img
    {
        width:100%;
        height:100%;
        object-fit:cover;
    }
}
.blog_item-contenu
{
    & img
    {
        width:800px;
        max-width:100%;
        height:auto;
    }
}

