{% extends 'base.html.twig' %}

{% block rss %}<link rel="alternate" type="application/rss+xml" title="" href="{{ path('app_news_rss') }}" />{% endblock %}



{% block content %}

    {% if section is defined %}
    <h2>{{ section }}</h2>
    {% endif %}

    <table class="archive_items">
    <tr>
        <th>Nom</th>
        <th>Tags</th>
        <th>Date</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="{{ path('app_news_show', { url: item.getUrl() } )}}">{{ item.getNom() }}</a></td></td>
        <td class="blog_item-tags">
            {% for tag in item.getTags() %}
            <a href="{{ path('app_news_tag', {tag: tag.getName() }) }}">{{ tag.getName() }}</a>
            {% endfor %}
        </td>
        <td class="blog_item-date">{{ item.getDate()|date("d/m/Y") }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
