{% extends 'base.rss.twig' %}

{% block description %}{{description}}{% endblock %}

{% block content %}


    {% for item in items %}
    <entry>
        <title>{{ item.getNom() }}</title>
        <content type="html"><![CDATA[
        {{ item.getContenu()|raw }}...
        ]]></content>
        <link>{{ url('app_news_show', { url: item.getUrl() } )}}</link>
        <id>{{ url('app_news_show', { url: item.getUrl() } )}}></id>
        <media:thumbnail url="{{ asset(conf.get('blog_directory') ~ '/' ~ item.image) }}" />
        <category>Blog</category>
        <published>{{item.getDate()| date("D, d M Y h:i:s O")}}</published>
    </entry>
    {% endfor %}
{% endblock %}
