{% extends 'base.html.twig' %}

{% block rss %}<link rel="alternate" type="application/rss+xml" title="" href="{{ path('app_news_rss') }}" />{% endblock %}

{% block stylesheets %}
    {% if(css) %}
        {% for css_item in css %}
            <link type="text/css" rel="stylesheet" href="css/{{ css_item }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block headers %}
    <meta property="og:title" content="{{ item.nom }}" />
    <meta property="og:description" content="{{ item.tiny }}" />
    <meta property="og:image" content="{{ conf.get('url') ~  asset(conf.get('blog_directory') ~ '/' ~ item.image) }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tfe">
    <meta name="twitter:creator" content="@tfe">
    <meta name="twitter:title" content="{{ item.nom }}">
    <meta name="twitter:description" content="{{ item.tiny }}">
    <meta name="twitter:image" content="{{ conf.get('url') ~  asset(conf.get('blog_directory') ~ '/' ~ item.image) }}">


{% endblock %}

{% block content %}

<div class="example-wrapper">

    <div class="blog_item">
        <div class="blog_item-header">
            <p class="blog_item-date">{{ item.getDate()|date("Y-m-d") }}-ean</p>
            <h2>{{ item.getNom() }}</h2>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_news_edit', { id: item.id }) }}">Editatu artikulua</a>
        {% endif %}
        <div class="blog_item-contenu">
            {{ item.getContenu()|raw }}
        </div>
        {% if hide_tags is not defined %}
            <p class="blog_item-tags">
            Tags: 
            {% for tag in item.getTags() %}
            <a href="{{ path('app_news_tag', {tag: tag.getName() }) }}">{{ tag.getName() }}</a>
            {% endfor %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
