{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ news.nom }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ news.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ news.date ? news.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ news.url }}</td>
            </tr>
            <tr>
                <th>Tiny</th>
                <td>{{ news.tiny }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ news.public ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_news_index') }}">back to list</a>

    <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
