{% extends 'base.html.twig' %}

{% block description %}{{description}}{% endblock %}



{% block content %}

<div class="download">
    {% if path is defined %}
    <h2>{{ path }} </h2>
    <span>(<a target="_blank" href="{{ path('download_path', { path:   path , download: 1}) }}">Deskargatu</a>)</span>
    {% endif %}
    <pre><code class="{{ filetype }}">{{ content }}</code></pre>

</div>
{% endblock %}
