{% extends 'base.html.twig' %}




{% block content %}

{% if is_admin %}
ADMIN
{% endif %}
<div class="download">
    {% if path != '' %}
        <h2>{{ path }}</h2>
    {% else %}
        <h2>{{ title }}</h2>
    {% endif %}

    <div class="dl_items">

        <ul class="dl_dirs">
            {% if path != '' %}
            <li>
                    <a class="dl_link" href="{{ path('download_path', { path: parent_path }) }}">..</a>
                </li>
            {% endif %}
            {% for dir in dirs %}
            <li>
                <a class="dl_link" href="{{ path('download_path', { path: path ~  dir  }) }}">{{ dir }}</a>
            </li>
            {% endfor %}
        </ul>

        {% if files %}
        <ul class="dl_files">
            {% for file in files %}
            <li>
                <a class="dl_link" href="{{ path('download_path', { path: path ~  file}) }}">{{ file }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
